<div class="container">
  <form action="/add/student" method="post">
    <div class="col-2">
      <label for="firstName">First name</label>
      <input type="text" name="firstName" id="firstName" />
    </div>
    <div class="col-2">
      <label for="lastName">Last name</label>
      <input type="text" name="lastName" id="lastName" />
    </div>
    <div class="col-2">
      <label for="Group">Group</label>
      <input type="text" name="Group" id="Group" />
    </div>
    <div class="col-2">
      <label for="Course">Course</label>
      <input type="text" name="Course" id="Course" />
    </div>
    <div class="col-2">
      <label for="phoneNumber">Phone number</label>
      <input type="text" name="phoneNumber" id="phoneNumber" />
    </div>
    <div class="col-2">
      <label for="Score">Score</label>
      <input type="text" name="Score" id="Score" />
    </div>
    <br>
    <button>Submit</button>

  </form>
</div>
